Component class

<!-- <button routerLink="/class">Class</button>
<button routerLink="/class2">Class2</button>
<router-outlet></router-outlet> -->

<!--------------------------------------Subject learning--------------------------------------------------------------------->
<!-- <app-header></app-header>
<app-home></app-home> -->

<!--------------------------------------------------------------------------------------------------------------->

<!--------------------------------------------Classes and subject and array------------------------------------------------------------------->
<app-create-employee></app-create-employee>
<app-view-employee></app-view-employee>
<!--------------------------------------------------------------------------------------------------------------->

<button (click)="clickme()">APPCOMPCLICK</button>
